<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10" >
        <input type="text"  ng-disabled="true" ng-model="cinema.cinema_id" class="form-control"  placeholder=""/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Cinema Group</label>
    <div class="col-sm-10">
        <input type="text" ng-minlength='3' name="phone" ng-maxlength='20' required ng-model="cinema.p_cinema_id" class="form-control" id="year" placeholder="Cineplex"/>
    </div>
    <div class="error"
        ng-show="cinema_form.phone.$dirty && cinema_form.phone.$invalid">
        <small class="error"
            ng-show="cinema_form.phone.$error.required">
            <span style="color:red;font-weight:bold">Your phone is required.</span>
        </small>
        <small class="error"
                ng-show="cinema_form.phone.$error.minlength">
                Your phone is required to be at least 3 characters
        </small>
        <small class="error"
                ng-show="cinema_form.phone.$error.maxlength">
                Your phone cannot be longer than 20 characters
        </small>
  </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Url ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.url_id" class="form-control"  placeholder="Url ID"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Location ID</label>
    <div class="col-sm-10">
           <select ng-model="cinema.location_id"
        data-ng-options="a.location_id as a.location_name  for a in location">
     </select>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_name" class="form-control"  placeholder="Cinema Name"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema Address</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_address" class="form-control"  placeholder="Cinema Address"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_description" class="form-control"  placeholder="Cinema description"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema Phone</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_phone" class="form-control"  placeholder="Cinema phone"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema Url</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_url" class="form-control"  placeholder="Cinema url"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema logo</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_logo" class="form-control"  placeholder="Cinema logo"/>
    </div>
    <div class="col-sm-8">
      <img src="{{cinema.cinema_logo}}" width="100px " height="100px" />
    </div>

</div>

<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Active</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="cinema.is_active"
                 ng-true-value="1" ng-false-value="0" ng-change="">
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Latitude</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_latitude" class="form-control"  placeholder="Lat"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Longitude</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_longitude" class="form-control"  placeholder="Long"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema S Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_s_name" class="form-control"  placeholder="Cinema s name"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema Code</label>
    <div class="col-sm-10">
        <input type="text" ng-model="cinema.cinema_code" class="form-control"  placeholder="Cinema code"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>