<ul>
    <?php foreach($this->list_news as $item):?>
    <li class="row">
        <div class="liimg col-md-4">
            <a href="<?php echo $item->news_url_short?>" title="<?php echo $item->news_title?>">
                <img src="<?php echo $item->size2?>" alt="<?php echo $item->news_title?>">
            </a>
        </div>
        <div class="litext col-md-8">
            <a href="<?php echo $item->news_url_short?>" title="<?php echo $item->news_title?>"><?php echo $item->news_title?></a>
            <p><?php echo $item->news_description?></p>
        </div>
        <div class="clear"></div>
    </li>
    <?php endforeach;?>
<ul>