<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10" >
        <input type="text"  ng-disabled="true" ng-model="news.news_id" class="form-control"  placeholder=""/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Cinema</label>
    <div class="col-sm-10">
     <select ng-model="news.cinema_id"
        data-ng-options=" b.cinema_id as b.cinema_name  for b in cinema">
     </select>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">CinemaGroup</label>
    <div class="col-sm-10">
       <select ng-model="news.p_cinema_id"
        data-ng-options="a.p_cinema_id as a.p_cinema_name  for a in p_cinema">
      </select>
    </div>
</div>

<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Thumbnail</label>
    <div class="col-sm-10">
        <input type="text" ng-model="news.thumbnail" class="form-control"  placeholder="Cinema Name"/>
        <img src="{{news.thumbnail}}">
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Film</label>
    <div class="col-sm-10">
        <select ng-model="filmList"
        data-ng-options="a as a.film_name  for a in film">
      </select>
      <button ng-click="addListFilm()">ADD</button>
    </div>
      <div style="display:inline;background-color:#a2b4ee;border-radius:5px"; ng-repeat="f in list_film">
          <span ng-click="deleteFilm(f)">x</span>
          <span>{{f.film_name}}</span><br>
      </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Active</label>
    <div class="col-sm-10">
          <input type="checkbox" ng-model="news.is_active"
                 ng-true-value="1" ng-false-value="0" ng-change="">
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>