<form class="form-horizontal" role="form" ng-submit="updateNews()">
    <?php echo $this->render('news/_form.phtml'); ?>
</form>
<script>
    var data ={
        'index'      :'',
        'detail'     :<?php echo json_encode($this->detail);?>,
        'cinema'     :<?php echo json_encode($this->cinema);?>,
        'p_cinema'   :<?php echo json_encode($this->p_cinema);?>,
        'film'       :<?php echo json_encode($this->film)?>
    }
 console.log(data);
</script>