<div class="main container">
	<div class="row"> 
		<div class="col-md-9 col-sm-12 news-detail" style="font-size:12px">
			<div class="titlebox">
		        <h3>Tin thị trường</h3>
		    </div>
			<div  class="news-list" style="min-height:1000px;">
			 	<?php echo $this->render('index/part/list_news.phtml')?>
			</div>
		</div>
		<div class="col-md-3 hidden-sm  hidden-xs">
			<?php echo $this->render('part/col-right.phtml')?>
		</div>
	</div>
</div>