<?php if(count($this->list_related) > 0):?>
<div class="news_new ">
	<div class="titlebox">
		<h3>Tin mới nhất</h3>
	</div>

	<div class="nn-content row">
		<?php foreach ($this->list_related as $key => $item):?>
	      <div class="col-md-6" style="margin-top:10px;margin-bottom:10px">
            <div class="nn-unit-img col-md-4">
                <a href="<?php echo $item->news_url_short?>" title="<?php echo $item->news_title?>">
                    <img src="<?php echo $item->size2?>" title="<?php echo $item->news_title?>" width="100%">
                </a>
            </div>
            <div class="col-md-8">
                <a href="<?php echo $item->news_url_short?>" title="<?php echo $item->news_title?>"><?php echo $item->news_title?></a>
            </div>
        </div>
       <?php endforeach;?>
	</div>
</div>
<?php endif;?>