<div class="news-info">
	<h1><?php echo $this->news->news_title?></h1>
	<div class="nd-time">
	 <?php echo date('Y-m-d H:i', strtotime($this->news->date_add))?>
	</div>
	<div class="news-detail-content">
	<?php echo $this->news->content?>
	</div>
</div>