<?php if (isset($this->data->film_id)) { ?>
<div class="form-group">
    <label class="col-md-3 control-label"><?php echo $field['label']?></label>
    <div class="col-md-9">
        <ul id="list-actor">
            <?php if (is_array($this->data->list_actor)) foreach ($this->data->list_actor as $artist) { ?>
            <li data-id="<?php echo $artist->artist_id?>">
                <img src="<?php echo $artist->path?>" width="50" height="50" />
                <span class="artist"><?php echo $artist->artist_name?></span>
                <span class="delete fa fa-times"></span>
                <div class="character"><?php echo $artist->char_name?></div>
            </li>
            <?php } ?>
        </ul>
        <div class="row">
            <div class="col-md-5">
                <div id="input-actor">
                    <div class="item"><input type="text" id="actor_artist_id" class="form-control" data-plugin-selectArtist placeholder="Choose an Artist" style="width:100%" /></div>
                    <div class="item">
                        <select class="form-control" id="actor_type_id" data-plugin-selectTwo style="width:100%">
                            <option value="0">Actor</option>
                            <option value="1">Director</option>
                        </select>
                    </div>
                    <div class="item"><input type="text" class="form-control" id="actor_charname" placeholder="Character name" /></div>
                    <div class="item">
                        <div class="input-group">
                            <input type="text" class="form-control" id="actor_number" placeholder="Number" />
                            <span class="input-group-btn"><button type="button" class="btn btn-primary" id="actor_add">Add</button></span>
                        </div>
                    </div>
                    <div class="item"><a href="/artist/detail/" target="_blank">Add new Artist</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php } ?>