@font-face {
  font-family: 'UVNTinTucHep_R';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/UVNTinTucHep_R.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Light.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Regular.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Bold.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Bold.ttf') format('truetype');
}
/*======================================================================
================== global Variables ===========================================
======================================================================*/
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.rad {
  border-radius: 3px;
}
.inline {
  display: inline-block;
}
.trans-bg {
  transition: background-color 0.2s ease;
}
.trans-border {
  transition: border-width 0.2s ease;
}
.colorGreen {
  color: #64bd60;
}
.colorOrange {
  color: #f79320;
}
.colorBluelight {
  color: #60c5ef;
}
.colorBlue {
  color: #4374b9;
}
.colorYellow {
  color: #ffcc27;
}
.colorGrey {
  color: #989898;
}
.colorLightGrey {
  color: #cccccc;
}
/*======================================================================
================== My mixin ===========================================
======================================================================*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   My reset
   ========================================================================== */
body {
  font-family: "Roboto Slab", Helvetica, Arial !important;
  font-size: 13px;
  font-weight: 350;
}
body * {
  padding: 0;
  margin: 0;
}
body ol,
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #464646;
  transition: color 0.2s ease-in-out 0s;
}
body a:hover {
  text-decoration: none;
  color: #4374b9;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .header-top-bar {
  background: #fbfbfb;
  height: 30px;
  line-height: 30px;
  color: #000000;
  border-bottom: 1px solid #eeeeee;
}
header .logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .header-menu {
  font-size: 15px;
  width: 100%;
  height: 43px;
  background: url(/layouts/web/img/bg-menu2.png) repeat-x;
  border-bottom: 1px solid #b9ccd3;
}
header .header-menu .menu ul li {
  display: inline;
  float: left;
  height: 42px;
}
header .header-menu .menu ul li a {
  text-decoration: none;
  font-size: 15px;
  padding: 11px 17px 11px;
  color: #FFF;
  display: block;
}
header .header-menu .menu ul li a:hover {
  background-color: #36a443;
}
header .header-menu .menu ul .active a {
  background-color: #36a443;
}
.main {
  padding-top: 10px;
  padding-bottom: 20px;
}
.main .titlebox {
  height: 25px;
  border-bottom: 1px solid #37a344;
  background: url(/layouts/web/img/icon-foruser.png) no-repeat;
  padding: 3px 0 0 39px;
  margin-bottom: 5px;
}
.main .titlebox h3 {
  text-transform: uppercase;
  color: #016098;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}
.main .arrow-comment {
  background: url(/layouts/web/img/arrow-comment.png) no-repeat;
}
.main .news-list {
  margin: 10px 0 15px 0;
  padding: 7px 8px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
.main .news-list li {
  border-bottom: 1px solid #e3e3e3;
  margin: 7px 0;
  padding-bottom: 7px;
  background: #fff;
  height: auto;
}
.main .news-list li img {
  border: 1px solid #e3e3e3;
  width: 100%;
}
.main .news-list li .litext a {
  font-weight: bold;
  font-size: 16px;
  color: #016096;
}
.news-detail {
  float: left;
  margin: 20px 0 0 0;
  border: 1px solid #e3e3e3;
  padding: 15px 10px;
  text-rendering: geometricPrecision;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff;
}
.news-detail h1 {
  color: #015f95;
  font-weight: bold;
  font-size: 24px;
}
.news-detail .nd-time {
  width: 100%;
  text-align: left;
  color: #83bd41;
  margin: 7px 0 5px 0;
  float: left;
}
.news-detail .news-info .news-detail-content {
  width: 100%;
}
.news-hightlight {
  margin: 20px 0 0 0;
  width: 100%;
}
.news-hightlight .nh-title {
  height: 30px;
  padding: 2px 0 0 39px;
  background: url(/layouts/web/img/icon-foruser.png) no-repeat;
  border-bottom: 1px solid #37a344;
}
.news-hightlight .nh-title h3 {
  margin: 0;
}
.news-hightlight .nh-title-pt {
  background: url(/layouts/web/img/icon-fengshui.png) no-repeat;
}
.news-hightlight .nh-content {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
.news-hightlight .nh-content li {
  border-bottom: 1px solid #e2eef2;
  padding: 9px 0;
}
.news-hightlight .nh-content li a {
  padding-left: 12px;
  display: block;
  background: url('/layouts/web/img/icon_butlet.png') no-repeat 0 7px;
}
.news-hightlight .nh-content li .cat {
  background: url('/layouts/web/img/arrow-right.png') no-repeat 0 7px;
}
.news-hightlight .nh-content img {
  width: 100%;
}
.ads-ex h3 {
  color: #A2A4A5;
  font-weight: bold;
  font-size: 20px;
}
.dongke {
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted gray;
  margin: 15px auto;
}
p img {
  max-width: 100%;
  height: auto;
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
  #slide-nav .container {
    margin: 0;
    padding: 0!important;
  }
  #content {
    margin-top: 70px;
  }
  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
  }
  #slide-nav .navbar.slide-active {
    width: 80%;
  }
  #slide-nav #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
  }
  #slide-nav {
    border-top: 0;
  }
  #slide-nav.navbar-inverse #slidemenu {
    background: #333333;
  }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #slide-nav #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    left: -80%;
    background: #eee;
  }
  #slide-nav.navbar-inverse #navbar-height-col {
    background: #333;
    z-index: 1;
    border: 0;
  }
  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    /*fast clearfixer*/
  }
  #slide-nav .navbar-form .form-control {
    text-align: center;
  }
  #slide-nav .navbar-form .btn {
    width: 100%;
  }
}
.footer {
  min-height: 100px;
  background: url(/layouts/web/img/bg-footer.png) repeat;
  border-top: 1px solid #d2d2d2;
  padding-bottom: 10px;
}
.footer iframe {
  width: 100%;
  height: 200px;
}
.menu-bottom ul {
  margin-bottom: 0;
}
.menu-bottom ul li {
  display: inline;
  float: left;
  background: url(/layouts/web/img/line-menu.png) no-repeat left;
}
.menu-bottom ul li a {
  text-decoration: none;
  font-size: 15px;
  padding: 11px 17px 11px;
  color: #FFF;
  display: block;
}
.like-share {
  height: 200px;
  width: 60px;
  position: fixed;
  left: 0;
  top: 40%;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding-top: 5px;
}
.litebox-overlay {
  display: none;
  width: 100%;
  min-width: 280px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
@-webkit-keyframes liteboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes liteboxLoader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes liteboxLoader {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes liteboxLoader {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes liteboxLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.litebox-overlay .litebox-loader {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 49%;
  border: 3px solid #111;
  border-right-color: #fff;
  border-radius: 50%;
  -webkit-animation: liteboxLoader 1s linear infinite;
  -moz-animation: liteboxLoader 1s linear infinite;
  -ms-animation: liteboxLoader 1s linear infinite;
  -o-animation: liteboxLoader 1s linear infinite;
  animation: liteboxLoader 1s linear infinite;
}
.litebox-overlay .litebox-close {
  width: 40px;
  height: 40px;
  background: url('../img/temp/litebox-close.png') no-repeat center;
  opacity: .7;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}
.litebox-overlay .litebox-close:hover {
  opacity: 1;
  cursor: pointer;
}
.litebox-overlay .litebox-nav {
  display: none;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  opacity: .2;
  position: absolute;
  top: 50%;
}
.litebox-overlay .litebox-nav:hover {
  opacity: .5;
  cursor: pointer;
}
.litebox-overlay .litebox-prev {
  background: url('../img/temp/litebox-prev.png') no-repeat center;
  left: 20px;
}
.litebox-overlay .litebox-next {
  background: url('../img/temp/litebox-next.png') no-repeat center;
  right: 20px;
}
.litebox-overlay .litebox-container {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  overflow: hidden;
}
.litebox-container:before {
  /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}
#element {
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;
  /* <-- reset the font property */
}
.litebox-overlay .litebox-container.litebox-scroll {
  overflow-y: auto;
}
.litebox-overlay img,
.litebox-overlay iframe {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  overflow-x: hidden;
}
.litebox-overlay iframe {
  width: 100%;
  height: 100%;
  position: relative;
}
.litebox-overlay .litebox-inline-html {
  width: 100%;
  padding: 20px;
  background: #FFF;
  line-height: normal;
  overflow-x: hidden;
  line-height: normal !important;
  position: absolute;
}
.litebox-overlay .litebox-error {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  line-height: inherit;
}
.litebox-overlay .litebox-error span {
  background: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  color: #FFF;
  text-shadow: 1px 1px 0 #000;
  line-height: normal;
}
.litebox-title {
  color: #fff;
  padding: 6px 0;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 2%;
  width: 100%;
  text-align: center;
  z-index: 1;
}
/*  Select nav
//  =============================================================================== */
/*  Table of Contents
//  ==================================================
//    #Default


/*  #Default
//  ================================================== */
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
