<div class="main container ">
	<div class="row"> 
		<div class="col-md-9 col-sm-12 news-detail" style="font-size:12px">
			<div  style="min-height:1000px;">
				<?php 
					foreach ($this->images as $key => $item):?>
						<a href="<?php echo $item->size1?>" class="litebox"  data-litebox-group="group-1" title="Gallery">
							<img   title="Gallery" style="margin:10px;float:left;border:1px solid #e3e3e3" width="180px" height="140px" src="<?php echo $item->size1?>">
						</a>
				<?php endforeach; ?>
			</div>
		</div>
		<div class="col-md-3 hidden-sm  hidden-xs">
			<?php echo $this->render('part/col-right.phtml')?>
		</div>
	</div>
</div>