<div class="main container ">
	<div class="row"> 
		<div class="col-md-9 col-sm-12 news-detail" style="font-size:12px">
			<div  style="min-height:1000px;">
			 <?php 
			 if(!$this->news){
			 	echo "Đang cập nhật dữ liệu";
			 }else{
			 	echo $this->news->content;
			 	if($_SERVER['REQUEST_URI'] != '/opalriverside/thanh-toan' && $_SERVER['REQUEST_URI'] != '/opalriverside/lien-he'){
			 		echo $this->render('part/comment.phtml');
			 		}
			 	}
			 ?>
			</div>
		</div>
		<div class="col-md-3 hidden-sm  hidden-xs">
			<?php echo $this->render('part/col-right.phtml')?>
		</div>
	</div>
</div>