@charset 'UTF-8';
/*
 * jQuery File Upload Plugin CSS Example 1.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2012, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body{
	padding:0;
}

form#fileupload { padding: 20px; margin:0;}
.fileupload-buttonbar { padding:0; margin:0; height: 20px;}
.span7 {padding:0; margin:0; width:100%;}
