<?php
$this->head->prependCss('/layouts/web/css/bootstrap.min.css');
$this->head->prependCss('/layouts/web/css/bootstrap-theme.min.css');
$this->head->prependCss('/layouts/web/css/style.css');

$this->head->prependJs('/layouts/web/js/all.min.js');
header('Content-Type: text/html; charset=utf-8');
header('X-UA-Compatible: IE=edge,chrome=1');
// metadata
$meta = $this->model->Seo->getMeta($_SERVER['REQUEST_URI']);

if ($meta && count($meta) > 0) {
    $this->headTitle($meta->meta_title);
    $this->headMeta()->appendName('description', $meta->meta_description);
    $this->headMeta()->appendName('keywords', $meta->meta_keyword);
    $this->doctype('XHTML1_RDFA');

	$this->headMeta()->setProperty('og:title', $meta->og_title);
	$this->headMeta()->setProperty('og:description', $meta->og_description);
	$this->headMeta()->setProperty('og:url', $meta->og_url);
	$this->headMeta()->setProperty('og:image', $meta->og_image);
}

?><!DOCTYPE html>
<html>
<head>
<?php echo $this->headTitle('Dự án Opalriverside')->setSeparator(' » ')?>
<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
<?php echo $this->headMeta()?>

<link href="/favicon.ico" rel="icon" />
<?php echo $this->headLink()?>
<?php echo $this->headScript()?>

<?php include '_script.php'; ?>

</head>
<body class="page-<?php echo $this->controllerName?> page-<?php echo $this->controllerName?>-<?php echo $this->actionName?>" data-controller="<?php echo $this->controllerName?>" data-action="<?php echo $this->actionName?>">
    <?php include '_header.php'; ?>
    <?php echo $this->layout()->content?>
    <?php include '_footer.php'; ?>
    <?php echo $this->render('part/like.phtml')?>
</body>
</html>
