<!DOCTYPE html>
<html lang="en" class="scroll" data-ng-app="<?php echo $this->controllerName?>">
<head>

<!-- Basic -->
<meta charset="UTF-8">

<title>Admin</title>
<meta name="keywords" content="HTML5 Admin Template" />
<meta name="description" content="Porto Admin - Responsive HTML5 Template">
<meta name="author" content="okler.net">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/pnotify/pnotify.custom.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/select2/select2.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/dropzone/css/basic.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/dropzone/css/dropzone.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/summernote/summernote.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/summernote/summernote-bs3.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="/layouts/admin/assets/vendor/codemirror/theme/monokai.css" />
<link rel="stylesheet" href="/layouts/admin/js/tiny_mce/themes/advanced/skins/default/ui.css"/>


<!-- Theme CSS -->
<link rel="stylesheet" href="/layouts/admin/assets/stylesheets/theme.css" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="/layouts/admin/assets/stylesheets/theme-custom.css">

<link rel="stylesheet" href="/layouts/admin/assets/stylesheets/skin.css" />

<?php echo $this->headLink()?>
    <script type="text/javascript">
    document.domain = '<?php echo My_Registry::getInstance()->domain();?>';
    </script>


</head>
<body class="page-<?php echo $this->controllerName?> page-<?php echo $this->controllerName?>-<?php echo $this->actionName?>" data-controller="<?php echo $this->controllerName?>" data-action="<?php echo $this->actionName?>" data-ng-controller="<?php echo $this->actionName?>">

    <section class="body">
        <div class="inner-wrapper" style="padding-top: 0px;">
            <?php include 'sidebar-left.php'; ?>
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2><?php echo ucfirst($this->controllerName)?></h2>
                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li><a href="/"><i class="fa fa-home"></i></a></li>
                            <li><a href="/<?php echo $this->controllerName?>/"><?php echo ucfirst($this->controllerName)?></a></li>
                            <li><span><?php echo ucfirst($this->actionName)?></span></li>
                        </ol>
                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>
                <?php echo $this->layout()->content?>
            </section>
            <?php include 'sidebar-right.php'; ?>
        </div>
    </section>
    <div id="modal-upload">
        <iframe id="iframe-upload" name="frame" src="/admin/go123/" data-src="/admin/go123/" width="100%" height="100%"></iframe>
    </div>


    <!-- Head Libs -->
    <script src="/layouts/admin/assets/vendor/modernizr/modernizr.js"></script>

    <!-- Vendor -->
    <script src="/layouts/admin/assets/vendor/jquery/jquery.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/layouts/admin/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/layouts/admin/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="/layouts/admin/assets/vendor/jquery-autosize/jquery.autosize.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script src="/layouts/admin/assets/vendor/pnotify/pnotify.custom.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="/layouts/admin/assets/vendor/select2/select2.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/layouts/admin/assets/vendor/fuelux/js/spinner.js"></script>
    <script src="/layouts/admin/assets/vendor/dropzone/dropzone.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-markdown/js/markdown.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-markdown/js/to-markdown.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/addon/selection/active-line.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/layouts/admin/assets/vendor/codemirror/mode/css/css.js"></script>
    <script src="/layouts/admin/assets/vendor/summernote/summernote.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/layouts/admin/assets/vendor/ios7-switch/ios7-switch.js"></script>


    <!-- Theme Base, Components and Settings -->
    <script src="/layouts/admin/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/layouts/admin/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/layouts/admin/assets/javascripts/theme.init.js"></script>

    <?php if ($this->controllerName == 'dashboard') { ?>
    <!-- Specific Page Vendor -->
    <script src="/layouts/admin/assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="/layouts/admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="/layouts/admin/assets/vendor/flot/jquery.flot.js"></script>
    <script src="/layouts/admin/assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="/layouts/admin/assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/layouts/admin/assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="/layouts/admin/assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/layouts/admin/assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="/layouts/admin/assets/vendor/raphael/raphael.js"></script>
    <script src="/layouts/admin/assets/vendor/morris/morris.js"></script>
    <script src="/layouts/admin/assets/vendor/gauge/gauge.js"></script>
    <script src="/layouts/admin/assets/vendor/snap-svg/snap.svg.js"></script>
    <script src="/layouts/admin/assets/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="/layouts/admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <?php } ?>

    <?php echo $this->headScript()?>

    <script src="/layouts/admin/js/core.js"></script>


</body>
</html>