<div class="nh-content">
	<div class="ads-ex">
		  <h3 s>Đầu tư và phát triển</h3>
		  <div class="dongke"></div>
	</div>
    <img src="/layouts/web/img/ex/logodtpt.jpg" >

    <div class="ads-ex">
		  <h3 s>Ngân hàng tài trợ</h3>
		  <div class="dongke"></div>
	</div>
    <img src="/layouts/web/img/ex/nhtt.jpg" >


   <div class="ads-ex">
		  <h3 s>Tư vấn và thiết kế</h3>
		  <div class="dongke"></div>
	</div>
    <img src="/layouts/web/img/ex/tvtk.jpg" >
</div>
