 <div class="nh-title nh-title-pt">
        <h3><a href="javascript:">Fange page</a></h3>
    </div>
    <div class="nh-content">
<div class="fb-like-box" data-href="https://www.facebook.com/dautu.batdongsanhot" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>