<?php 
    $list_futured = $this->model->News->getListFutured();
?>
<div class="nh-title">
    <h3><a href="javascript:">Tin tức nổi bật</a></h3>
</div>
<div class="nh-content">
    <ul>
    <?php foreach ($list_futured as $key => $item):?>
        <li>
            <a href="<?php echo $item->news_url_short?>" title="<?php echo $item->news_title?>"><?php echo $item->news_title?></a>
        </li>
    <?php endforeach;?>
    </ul>
    <div class="clear"></div>
</div>