<div class="news-hightlight">
    <?php echo $this->render('part/rightcol/featured.phtml')?>
</div>

<div class="news-hightlight">
    <?php echo $this->render('part/rightcol/pay.phtml');?>
</div>



<div class="news-hightlight">
    <?php echo $this->render('part/rightcol/ads-ex.phtml');?>
</div>


<div class="news-hightlight">
   <?php echo $this->render('part/rightcol/fanpage.phtml');?>
</div>

