<div class="comment">
	<div class="titlebox arrow-comment">
	<h3>Bình luận</h3>
	</div>

	<div class="fb-comments" data-href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']?>" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
</div>