<div class="like-share visible-lg visible-md">
        <!-- Đặt thẻ này vào nơi bạn muốn Nút +1 kết xuất. -->
    <div class="g-plusone" data-size="tall" data-annotation="bubble"></div>
    <div style="margin:10px"></div>
    <div class="fb-like" data-href="<?php echo $_SERVER['SERVER_NAME'];?>" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>