<tr data-type="Cinema" data-id="<?php echo $this->cinema_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><img src="<?php echo $this->cinema_logo?>" alt="logo" width="20" width="20" /></td>
    <td><a href="/cinema/detail/id/<?php echo $this->cinema_id?>/"><?php echo $this->cinema_name?></a></td>
    <td><?php echo $this->city_name?></td>
    <td><?php echo $this->number?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>