<tr data-type="News" data-id="<?php echo $this->news_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/news/detail/id/<?php echo $this->news_id?>/"><img src="<?php echo $this->size2?>" width="50" height="50" /></a></td>
    <td><a href="/admin/news/detail/id/<?php echo $this->news_id?>/"><?php echo $this->news_title?></a></td>
    <td><?php echo $this->date_update?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>