<tr>
    <td><?php echo $this->partialCounter?></td>
    <td width="30%"><a href="/notification/detail/id/<?php echo $this->notify_id?>/"><?php echo $this->content?></a></td>
    <td><?php echo $this->device_name?></td>
    <td><?php echo $this->city_name?></td>
    <td><?php echo $this->date_add?></td>
    <td><?php echo My_View_Admin::notificationStatus($this->status_id)?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>