<tr data-type="Promotion" data-id="<?php echo $this->promotion_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/cinemapromo/detail/id/<?php echo $this->promotion_id?>/"><?php echo $this->promotion_name?></a></td>
    <td><a href="/cinemapromo/mapping/id/<?php echo $this->promotion_id?>/" target="_blank">List <i class="fa fa-check-circle"></i></a></td>
    <td><a href="/cinemapromo/detail-map/pid/<?php echo $this->promotion_id?>" target="_blank">Add <i class="fa fa-check-circle"></i></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>