<tr data-type="seo" data-id="<?php echo $this->meta_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><?php echo $this->meta_title?></td>
    <td><a href="/admin/seo/detail/id/<?php echo $this->meta_id?>/"><?php echo $this->page?></a></td>

    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>