.footer{
	min-height:100px;
	background: url(/layouts/web/img/bg-footer.png) repeat;
	border-top: 1px solid rgb(210, 210, 210);
	padding-bottom: 10px;
	iframe{
		width: 100%;
		height: 200px;
	}
}

.menu-bottom{
ul{
	margin-bottom: 0;
	li{
		display: inline;
		float: left;
		  background: url(/layouts/web/img/line-menu.png) no-repeat left;
		a{
			text-decoration: none;
			font-size: 15px;
			padding: 11px 17px 11px;
			color: #FFF;
			display: block
		}
	}
}
}
.like-share{
	height:200px;
	width:60px;
	position:fixed;
	left:0;top:40%;;
	border:2px solid #eeeeee;
	border-radius:5px;
	padding-top:5px;
}