header{
	.header-top-bar{
		background: #fbfbfb;
		height: 30px;
		line-height: 30px;
		color: #000000;
		border-bottom: 1px solid #eeeeee;
	}
	.logo{
		padding-top:10px;
		padding-bottom: 10px;
	}
	.header-menu{
		font-size: 15px;
		width: 100%;
		height: 43px;
		background: url(/layouts/web/img/bg-menu2.png) repeat-x;
		border-bottom: 1px solid #b9ccd3;
		.menu{
			ul{
				li{
					display: inline;
					float: left;
					height: 42px;
					a{
						text-decoration: none;
						font-size: 15px;
						padding: 11px 17px 11px;
						color: #FFF;
						display: block;
						&:hover{
							background-color: #36a443;
						}
					}
				}
				.active{
					a{
						background-color: #36a443;
					}
				}
			}
		}
	}
}