.main{
	padding-top: 10px;
	padding-bottom: 20px;
	.titlebox {
	  height: 25px;
	  border-bottom: 1px solid #37a344;
	  background: url(/layouts/web/img/icon-foruser.png) no-repeat;
	  padding: 3px 0 0 39px;
	  margin-bottom: 5px;
	  	h3 {
		  text-transform: uppercase;
		  color: #016098;
		  font-size: 18px;
		  margin: 0;
		  font-weight: bold;
		}
	}
	.arrow-comment{
		background: url(/layouts/web/img/arrow-comment.png) no-repeat;
	}
	.news-list {
	  margin: 10px 0 15px 0;
	  padding: 7px 8px;
	  border: 1px solid #e3e3e3;
	  background: #fff;
	  li {
		  border-bottom: 1px solid #e3e3e3;
		  margin: 7px 0;
		  padding-bottom: 7px;
		  background: #fff;
		  height: auto;
		  	img {
			  border: 1px solid #e3e3e3;
			  width: 100%;
			}
			.litext {
			   a {
				  font-weight: bold; 
				  font-size:16px;
				  color: #016096;
				}
			}
		}
	}
}
.news-detail{
  float: left;
  margin: 20px 0 0 0;
  border: 1px solid #e3e3e3;
  padding: 15px 10px;
  text-rendering: geometricPrecision;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff;
  h1{
  	  color: #015f95;
  	  font-weight: bold;
  	  font-size: 24px;
  }
  .nd-time {
	  width: 100%;
	  text-align: left;
	  color: #83bd41;
	  margin: 7px 0 5px 0;
	  float: left;
	}
	.news-info{
		.news-detail-content{
			width: 100%;
		}
	}

}

.news-hightlight{
	margin: 20px 0 0 0;
  	width: 100%;
  	.nh-title {
	  height: 30px;
	  padding: 2px 0 0 39px;
	  background: url(/layouts/web/img/icon-foruser.png) no-repeat;
	  border-bottom: 1px solid #37a344;
	  h3{
	  	margin: 0;
	  }
	}
	.nh-title-pt {
		background: url(/layouts/web/img/icon-fengshui.png) no-repeat;
	}

	.nh-content {
	  margin-top: 5px;
	  padding: 5px;
	  border: 1px solid #e3e3e3;
	  background: #fff;
	  li {
		  border-bottom: 1px solid #e2eef2;
		  padding: 9px 0;
		  a{
		  	padding-left: 12px;
			display: block;
			background: url('/layouts/web/img/icon_butlet.png') no-repeat 0 7px;
		  }
		  .cat{
		  	background: url('/layouts/web/img/arrow-right.png') no-repeat 0 7px;
		  }
		}
	  img{
	  	width: 100%;
	  }
	}
}
.ads-ex{
	h3{
		color: #A2A4A5;
	  font-weight: bold;
	  font-size: 20px;
	}
}

	.dongke {
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted gray;
  margin: 15px auto;
}

p{
	img{max-width:100%;height: auto}
}


/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
  #slide-nav .container {
      margin: 0;
      padding: 0!important;
  }

  #content{
    margin-top:70px;
  }
  #slide-nav .navbar-header {
      margin: 0 auto;
      padding: 0 15px;
  }
  #slide-nav .navbar.slide-active {
      width: 80%;
  }
  #slide-nav #slidemenu {
      background: #f7f7f7;
      left: -100%;
      width: 80%;
      min-width: 0;
      position: absolute;
      padding-left: 0;
      z-index: 2;
      top: -8px;
      margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav {
      min-width: 0;
      width: 100%;
      margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
      min-width: 0;
      width: 80%;
      white-space: normal;
  }
  #slide-nav {
      border-top: 0
  }
  #slide-nav.navbar-inverse #slidemenu {
      background: #333
  }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #slide-nav #navbar-height-col {
      position: fixed;
      top: 0;
      height: 100%;
      width: 80%;
      left: -80%;
      background: #eee;
  }
  #slide-nav.navbar-inverse #navbar-height-col {
      background: #333;
      z-index: 1;
      border: 0;
  }
  #slide-nav .navbar-form {
      width: 100%;
      margin: 8px 0;
      text-align: center;
      overflow: hidden;
      /*fast clearfixer*/
  }
  #slide-nav .navbar-form .form-control {
      text-align: center
  }
  #slide-nav .navbar-form .btn {
      width: 100%
  }
}