<?php if (!isset($this->form)) return; ?>
<div class="row">
    <div class="col-lg-12">
        <?php if (isset($_GET['success'])) { ?>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> Saving data success. <a href="/<?php echo $this->controllerName?>/" class="alert-link">Click here to see more</a>.
        </div>
        <?php } ?>
        <form action="" class="form-horizontal form-bordered" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title"><span class="label label-success">Promotion</span><?php echo $this->infoPromotion->promotion_name?> </h2>
                </header>
                <div class="panel-body">
                    <?php
                    $path = dirname(dirname(__FILE__));
                    foreach ($this->form['fields'] as $key => $field) {
                        include sprintf("$path/part/%s.phtml", $field['type']);
                    }
                    ?>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-default" onclick="window.history.back(-1)" />
                        </div>
                    </div>
                </footer>
            </section>
            <input type="hidden" name="<?php echo $this->form['primary']?>" value="<?php echo isset($this->data->{$this->form['primary']}) ? $this->data->{$this->form['primary']} : ''; ?>" />
            <input type="hidden" name="_controller" value="<?php echo $this->controllerName?>" />
            <input type="hidden" name="_action" value="<?php echo $this->actionName?>" />
            <input type="hidden" name="_form" value="<?php echo $this->form['form']?>" />
            <input type="hidden" name="_ref" value="<?php echo isset($_SERVER['PHP_REFERER']) ? $_SERVER['PHP_REFERER'] : ''; ?>" />
        </form>
    </div>
</div>
