
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <form action="" class="form-horizontal form-bordered" method="post">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title"><span class="label label-success">Promotion</span><?php echo $this->promotion->promotion_name?> </h2>
                </header>
                <div class="panel-body">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cinema</th>
                            </tr>
                        </thead>
                        <tbody  id="cinema-promo">
                            <?php echo $this->partialLoop('part/list/promotionmap.phtml', $this->list)?>
                        </tbody>
                    </table>
                </div>
            </form>
        </section>
    </div>
</div>