<div class="row">
    <div class="col-lg-12">
        <form action="" class="form-horizontal form-bordered" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title"><?php echo ucfirst($this->actionName)?></h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">List Code</label>
                        <div class="col-md-6">
                            <textarea name="list_new_code" rows="20" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-default" onclick="window.history.back(-1)" />
                        </div>
                    </div>
                </footer>
            </section>
            <input type="hidden" name="_controller" value="<?php echo $this->controllerName?>" />
            <input type="hidden" name="_action" value="<?php echo $this->actionName?>" />
            <input type="hidden" name="_ref" value="<?php echo isset($_SERVER['PHP_REFERER']) ? $_SERVER['PHP_REFERER'] : ''; ?>" />
        </form>
    </div>
</div>